body {
    display: flex;
    justify-content: center; 
       align-items: center;
      height: auto; 
    margin: 150px; 
}

.parent {
    display: flex;
     flex-wrap: wrap; 
    border: 2px dotted #333;
  border-color: blue;
   padding: 10px;
  box-sizing: border-box; 
}
.child {
    background-color: #f0f0f0; 
    border: 2px solid #333; 
    border-radius: 4px;
    width: auto;
    height: auto;  
    font-size: 10px;
    text-align:center;
    margin: 1px;
    padding: 2px;
  }