body {
  background-color:#FFFEFA;
}

.cont{
  margin-left: 2%;
}

h6 {border: 1px solid;
  text-align:center;
  font-size: 30px;
  color:  #804000;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  }

h1 { 
  background-color:red; 
  border-style:solid ; 
  border-color:;
  text-align:center;
  font-size: 70px;
  
}
h2 { color:#990000}
.container {display: flex;
 justify-content: center;
    align-items: center;
   margin: 20px;
  padding: 20px;
}

h5 { 
  border-style:solid;
  text-align:center;
  font-size:70px;
margin:10px;
}



p { 
  border-style:dotted; 
  text-align:center;
   font-size:70px;
  display: block;
  
  
 }